{% import 'macros/_multi-level-menu.twig' as menuMacros %}
<nav class="site-nav" id="Navigation" role="Navigation">  
  {% if menu.get_items %}
    <ul class="nav">
      {{ menuMacros.multiLevelMenu(menu.get_items) }}
    </ul>
  {% endif %}
</nav>