{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "_base.twig" %}

{% block content %}
  {# see `base.twig:27` for where this block's content will be inserted #}
  <div class="content-wrapper">
    {% for post in posts %}
      {% include ['partials/_list-item-'~post.post_type~'.twig', 'partials/_list-item.twig'] %}
    {% endfor %}

    {% include 'partials/_pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
  </div>
{% endblock %}
